html {
    width: auto;
    border: 2px solid black;
    font-size: 20px;
}

h1 {
    width: 50%;
    height: 10%;
    font: size 100px;
    font-family:fantasy;
}
.yellowgreen {
    color: yellowgreen;
}
.violet {
    height: 200px;
    width: 200px;
    background-color:blueviolet;
    font-weight:200;
    color:yellowgreen;
    font-style: normal;
}
#blue {
    color: blue;
}
* {
    /* 定义页面中的全部元素 */
}
